<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" xmlns:gz="http://gazebosim.org/schema">

    <!--            PROPERTIES          -->
    <xacro:property name = 'mu1' value = '0.1'/>
    <xacro:property name = 'mu2' value = '0.1'/>
    <xacro:property name = 'minDepth' value = '0.0001'/>
    <xacro:property name = 'kp' value = '1000000'/>
    <xacro:property name = 'kd' value = '7500'/>

    <!--            LINKS          -->
    <gazebo reference = 'chassis_link'>
        <material>Gazebo/Green</material>
    </gazebo>

    <gazebo reference = 'front_right_wheel_link'>
        <material>Gazebo/Black</material>
        <mu1 value = '${mu1}' />
        <mu2 value = '${mu2}' />
        <fdir1 gz:expressed_in='base_link'>1 1 0</fdir1>
        <minDepth>${minDepth}</minDepth>
        <kp>${kp}</kp>
        <kd>${kd}</kd>
    </gazebo>

    <gazebo reference = 'front_left_wheel_link'>
        <material>Gazebo/Black</material>
        <mu1 value = '${mu1}' />
        <mu2 value = '${mu2}' />
        <fdir1 gz:expressed_in='base_link'>-1 1 0</fdir1>
        <minDepth>${minDepth}</minDepth>
        <kp>${kp}</kp>
        <kd>${kd}</kd>
    </gazebo>

    <gazebo reference = 'back_right_wheel_link'>
        <material>Gazebo/Black</material>
        <mu1 value = '${mu1}' />
        <mu2 value = '${mu2}' />
        <fdir1 gz:expressed_in='base_link'>1 -1 0</fdir1>
        <minDepth>${minDepth}</minDepth>
        <kp>${kp}</kp>
        <kd>${kd}</kd>
    </gazebo>

    <gazebo reference = 'back_left_wheel_link'>
        <material>Gazebo/Black</material>
        <mu1 value = '${mu1}' />
        <mu2 value = '${mu2}' />
        <fdir1 gz:expressed_in='base_link'>-1 -1 0</fdir1>
        <minDepth>${minDepth}</minDepth>
        <kp>${kp}</kp>
        <kd>${kd}</kd>
    </gazebo>

    <gazebo reference = 'lidar_link'>
        <material>Gazebo/Black</material>
        <sensor name = 'lidar' type = 'ray'>
            <pose> 0 0 0 0 0 0 </pose>
            <visualize>false</visualize>
            <update_rate>10</update_rate>
            <ray>
                <scan>
                    <horizontal>
                        <samples>3200</samples>         <!-- 360 degrees divided by 0.1125 degree resolution -->
                        <resolution>1</resolution>
                        <min_angle>-3.14</min_angle>
                        <max_angle>3.14</max_angle>
                    </horizontal>
                </scan>
                <range>
                    <min>0.05</min>
                    <max>30.0</max>
                </range>
            </ray>
            <plugin name = 'laser_controller' filename = 'libgazebo_ros_ray_sensor.so'>
                <ros>
                    <argument>~/out:=scan</argument>
                </ros>
                <output_type>sensor_msgs/LaserScan</output_type>
                <frame_name>lidar_link</frame_name>
            </plugin>
        </sensor>
    </gazebo>

    <gazebo reference = 'camera_link'>
        <material>Gazebo/Black</material>
    </gazebo>

    <!--            GAZEBO CONTROL           -->
    <gazebo>
        <plugin name = 'omni_robot' filename = 'libgazebo_ros_omni_drive.so'>
            <commandTopic>cmd_vel</commandTopic>
            <odometryTopic>odom</odometryTopic>
            <odometryFrame>odom</odometryFrame>
            <odometryRate>250.0</odometryRate>
            <robotBaseFrame>base_link</robotBaseFrame>

            <wheel_radius>0.0325</wheel_radius>
            <base_length>0.16</base_length>
            <base_width>0.1695</base_width>

            <front_right_joint>front_right_joint</front_right_joint>
            <front_left_joint>front_left_joint</front_left_joint>
            <rear_right_joint>back_right_joint</rear_right_joint>
            <rear_left_joint>back_left_joint</rear_left_joint>

            <wheel_max_speed>7.50</wheel_max_speed>
            <wheel_acceleration>7.50</wheel_acceleration>
            <joint_config>1 1 1 1</joint_config>
        </plugin>
    </gazebo>
</robot>